-r requirements.txt

[Testing & Framework]
pytest~=7.0
pytest-cov~=4.1
pytest-env~=1.0
pytest-mock~=3.10
pytest-xdist~=3.3
pytest-timeout~=2.1

[Code Quality & Formatting]
black~=23.0
isort~=5.12
flake8~=6.0
mypy~=1.0
pylint~=2.17
pre-commit~=3.3

[Type Stubs]
types-PyYAML
types-requests
types-setuptools

[Documentation]
sphinx~=7.0
sphinx-rtd-theme~=1.2
sphinx-autodoc-typehints~=1.23

[Development Utilities]
ipython~=8.12
ipdb~=0.13
watchdog~=3.0
rich~=13.4

[Performance Analysis]
line-profiler~=4.0
memory-profiler~=0.61
py-spy~=0.3

[Debugging Tools]
debugpy~=1.6